<ion-header>
  <ion-toolbar color="customColor">
    <ion-item style="display: none;">
      <ion-label>Province</ion-label>
      <ion-select #select [(ngModel)]="selection">
        <ion-select-option value="Phuket">Phuket</ion-select-option>
        <ion-select-option value="Bangkok">Bangkok</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-buttons (click)="select.open()">
      <ion-button slot="start">
        <ion-label>{{ selection }} &nbsp;</ion-label>
        <ion-icon name="arrow-down"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img slot="secondary" src="assets/icon/logo_32x32.png" />
    <ion-title slot="secondary">Utasty</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="animated fadeIn">
  <div class="row center">
    <div class="card-body">
      <div class="container-fluid">
        <section class="row no-gutter align-items-center justify-content-center">
          <a (click)="onClick(1)">
            <div
              class="col-lg-6 md-6 sm-12 xs-12 text-center p-0 d-flex align-items-center justify-content-center"
            >
              <img
                src="/assets/menu/food/shabu.png"
                alt=""
                style="width: 95%;"
              />
              <h2 class="w-100 position-absolute text-white my-auto">
                <mark
                  style="background-color: rgba(255, 255, 255, .5); width: 300px; height: 100px;"
                  >Shabu</mark
                >
              </h2>
              <!-- <h6 class="w-100 position-absolute text-white my-auto">
                  <br /><br /><br />Go to.
                </h6> -->
            </div>
          </a>
        </section>
      </div>
    </div>
    <div class="card-body" style="margin-top: -30px">
      <div class="container-fluid">
        <section class="row no-gutter align-items-center justify-content-center">
          <a (click)="onClick(2)">
            <div
              class="col-lg-6 md-6 sm-12 xs-12 text-center p-0 d-flex align-items-center justify-content-center"
            >
              <img
                src="/assets/menu/food/seafood.png"
                alt=""
                style="width: 95%;"
              />
              <h2 class="w-100 position-absolute text-white my-auto">
                <mark
                  style="background-color: rgba(255, 255, 255, .5); width: 300px; height: 100px;"
                  >Seafood</mark
                >
              </h2>
              <!-- <h6 class="w-100 position-absolute text-white my-auto">
                  <br /><br /><br />Go to.
                </h6> -->
            </div>
          </a>
        </section>
      </div>
    </div>
    <div class="card-body" style="margin-top: -30px">
      <div class="container-fluid">
        <section class="row no-gutter align-items-center justify-content-center">
          <a (click)="onClick(3)">
            <div
              class="col-lg-6 md-6 sm-12 xs-12 text-center p-0 d-flex align-items-center justify-content-center"
            >
              <img
                src="/assets/menu/food/ice-cream.png"
                alt=""
                style="width: 95%;"
              />
              <h2 class="w-100 position-absolute text-white my-auto">
                <mark
                  style="background-color: rgba(255, 255, 255, .5); width: 300px; height: 100px;"
                  >Ice-Cream</mark
                >
              </h2>
              <!-- <h6 class="w-100 position-absolute text-white my-auto">
                  <br /><br /><br />Go to.
                </h6> -->
            </div>
          </a>
        </section>
      </div>
    </div>
    <div class="card-body" style="margin-top: -30px">
      <div class="container-fluid">
        <section class="row no-gutter align-items-center justify-content-center">
          <a (click)="onClick(4)">
            <div
              class="col-lg-6 md-6 sm-12 xs-12 text-center p-0 d-flex align-items-center justify-content-center"
            >
              <img
                src="/assets/menu/food/Italy.png"
                alt=""
                style="width: 95%;"
              />
              <h2 class="w-100 position-absolute text-white my-auto">
                <mark
                  style="background-color: rgba(255, 255, 255, .5); width: 300px; height: 100px;"
                  >Italy</mark
                >
              </h2>
              <!-- <h6 class="w-100 position-absolute text-white my-auto">
                  <br /><br /><br />Go to.
                </h6> -->
            </div>
          </a>
        </section>
      </div>
    </div>
    <div class="card-body" style="margin-top: -30px">
      <div class="container-fluid">
        <section class="row no-gutter align-items-center justify-content-center">
          <a (click)="onClick(5)">
            <div
              class="col-lg-6 md-6 sm-12 xs-12 text-center p-0 d-flex align-items-center justify-content-center"
            >
              <img
                src="/assets/menu/food/Organic-food.png"
                alt=""
                style="width: 95%;"
              />
              <h2 class="w-100 position-absolute text-white my-auto">
                <mark
                  style="background-color: rgba(255, 255, 255, .5); width: 300px; height: 100px;"
                  >Organic Food</mark
                >
              </h2>
              <!-- <h6 class="w-100 position-absolute text-white my-auto">
                  <br /><br /><br />Go to.
                </h6> -->
            </div>
          </a>
        </section>
      </div>
    </div>
    <div class="card-body" style="margin-top: -30px">
      <div class="container-fluid">
        <section class="row no-gutter align-items-center justify-content-center">
          <a (click)="onClick(6)">
            <div
              class="col-lg-6 md-6 sm-12 xs-12 text-center p-0 d-flex align-items-center justify-content-center"
            >
              <img
                src="/assets/menu/food/buffet.png"
                alt=""
                style="width: 95%;"
              />
              <h2 class="w-100 position-absolute text-white my-auto">
                <mark
                  style="background-color: rgba(255, 255, 255, .5); width: 300px; height: 100px;"
                  >Buffet</mark
                >
              </h2>
              <!-- <h6 class="w-100 position-absolute text-white my-auto">
                  <br /><br /><br />Go to.
                </h6> -->
            </div>
          </a>
        </section>
      </div>
    </div>
    <div class="card-body" style="margin-top: -30px">
      <div class="container-fluid">
        <section class="row no-gutter align-items-center justify-content-center">
          <a (click)="onClick(7)">
            <div
              class="col-lg-6 md-6 sm-12 xs-12 text-center p-0 d-flex align-items-center justify-content-center"
            >
              <img
                src="/assets/menu/food/France.png"
                alt=""
                style="width: 95%;"
              />
              <h2 class="w-100 position-absolute text-white my-auto">
                <mark
                  style="background-color: rgba(255, 255, 255, .5); width: 300px; height: 100px;"
                  >France</mark
                >
              </h2>
              <!-- <h6 class="w-100 position-absolute text-white my-auto">
                  <br /><br /><br />Go to.
                </h6> -->
            </div>
          </a>
        </section>
      </div>
    </div>
    <div class="card-body" style="margin-top: -30px">
      <div class="container-fluid">
        <section class="row no-gutter align-items-center justify-content-center">
          <a (click)="onClick(8)">
            <div
              class="col-lg-6 md-6 sm-12 xs-12 text-center p-0 d-flex align-items-center justify-content-center"
            >
              <img
                src="/assets/menu/food/coffee.png"
                alt=""
                style="width: 95%;"
              />
              <h2 class="w-100 position-absolute text-white my-auto">
                <mark
                  style="background-color: rgba(255, 255, 255, .5); width: 300px; height: 100px;"
                  >Coffee</mark
                >
              </h2>
              <!-- <h6 class="w-100 position-absolute text-white my-auto">
                  <br /><br /><br />Go to.
                </h6> -->
            </div>
          </a>
        </section>
      </div>
    </div>
    <div class="card-body" style="margin-top: -30px">
      <div class="container-fluid">
        <section class="row no-gutter align-items-center justify-content-center">
          <a (click)="onClick(9)">
            <div
              class="col-lg-6 md-6 sm-12 xs-12 text-center p-0 d-flex align-items-center justify-content-center"
            >
              <img
                src="/assets/menu/food/Drink.png"
                alt=""
                style="width: 95%;"
              />
              <h2 class="w-100 position-absolute text-white my-auto">
                <mark
                  style="background-color: rgba(255, 255, 255, .5); width: 300px; height: 100px;"
                  >Drink</mark
                >
              </h2>
              <!-- <h6 class="w-100 position-absolute text-white my-auto">
                  <br /><br /><br />Go to.
                </h6> -->
            </div>
          </a>
        </section>
      </div>
    </div>
  </div>
</div>

</ion-content>