<ion-header>
  <ion-toolbar color="customColor">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img slot="start" src="assets/icon/logo_32x32.png" />
    <ion-title slot="start">Utasty</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="animated fadeIn">
  <p *ngIf="!ITEMS">Not found data !</p>
  <div class="row center">
    <ng-container *ngFor="let item of ITEMS; index as i">
      <div *ngIf="i === 0" class="card-body">
        <div class="container-fluid">
          <section
            class="row no-gutter align-items-center justify-content-center"
          >
            <a (click)="onClick(i)">
              <div
                class="col-lg-6 md-6 sm-12 xs-12 text-center p-0 d-flex align-items-center justify-content-center"
              >
                <img [src]="item.IMG_PATH" alt="" style="width: 95%;" />
                <h2 class="w-100 position-absolute text-white my-auto">
                  <mark
                    style="background-color: rgba(255, 255, 255, .5); width: 300px; height: 100px;"
                    >{{ item.TITLE }}</mark
                  >
                </h2>
              </div>
            </a>
          </section>
        </div>
      </div>
      <div *ngIf="i > 0" class="card-body" style="margin-top: -30px">
        <div class="container-fluid">
          <section
            class="row no-gutter align-items-center justify-content-center"
          >
            <a (click)="onClick(i)">
              <div
                class="col-lg-6 md-6 sm-12 xs-12 text-center p-0 d-flex align-items-center justify-content-center"
              >
                <img [src]="item.IMG_PATH" alt="" style="width: 95%;" />
                <h2 class="w-100 position-absolute text-white my-auto">
                  <mark
                    style="background-color: rgba(255, 255, 255, .5); width: 300px; height: 100px;"
                    >{{ item.TITLE }}</mark
                  >
                </h2>
              </div>
            </a>
          </section>
        </div>
      </div>
    </ng-container>
  </div>
</div>

</ion-content>
