.vertical-align-content > * {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

ion-content {
  /* --background: url('/assets/img/blurbg.jpg') no-repeat center center fixed cover; */
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  --background-size: cover;
}

/* ion-card-header {
      background-color: white;
      height: 50px;
    }
    
    ion-card-content {
      background-color: white;
    }
    
    ion-item {
      --background: transparent;
      --ion-color-base: transparent !important;
    } */

/deep/ body {
  background-color: #fce582;
}

/deep/ .ion-page {
  justify-content: center;
}

.center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

ion-tabs {
  /* --background: url('/assets/img/blurbg.jpg') no-repeat center center fixed cover; */
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  --background-size: cover;
}

$colors: (
  primary: #387ef5,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  customColor: #fce582
);
