<div class="animated fadeIn">
  <div
    class="row center align-items-center justify-content-center"
    style="margin-top: 40px"
  >
    <div class="col-6 center align-items-center justify-content-center">
      <img
        class="center align-items-center justify-content-center"
        src="assets/icon/logo_128x128.png"
        style="display: block"
      />
    </div>
  </div>
  <div class="row center align-items-center justify-content-center">
    <div class="col-10">
      <form class="form-group">
        <h6 class="h6 font-weight-bold mb-4" style="text-align: center">
          Approve Shop <br />
          <h6 class="font-weight-light">System will be saved auto.</h6>
        </h6>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-at"></i></span>
          </div>
          <input
            type="email"
            id="EMAIL"
            class="form-control block"
            placeholder="Email address"
            required=""
            autofocus=""
          />
        </div>

        <div class="input-group">
          <input
            type="text"
            id="SHOP_NAME"
            class="form-control mt-2 block"
            placeholder="Shop Name"
            required=""
          />
        </div>

        <div class="input-group">
          <input
            type="password"
            id="LATITUDE"
            class="form-control mt-2 block"
            placeholder="Latitude"
            required=""
          />
        </div>

        <div class="input-group">
          <input
            type="password"
            id="LONGITUDE"
            class="form-control mt-2 block"
            placeholder="Longitude"
            required=""
          />
        </div>

        <hr />

        <button
          class="btn btn-info btn-block form-control"
          type="button"
          (click)="onApprove()"
        >
          <i class="fa fa-sign-in-alt"></i> Approve
        </button>
        <button
          class="btn btn-danger btn-block form-control"
          type="button"
          (click)="onCancel()"
        >
          <i class="fa fa-sign-in-alt"></i> Cancle
        </button>
      </form>
    </div>
  </div>
</div>
