<!-- <ion-header>
  <ion-toolbar color="customColor">
    <img slot="start" src="assets/icon/logo_32x32.png" />
    <ion-title slot="start">Utasty</ion-title>
  </ion-toolbar>
</ion-header> -->

<div class="animated fadeIn">
  <div
    *ngIf="!is_login"
    class="row center align-items-center justify-content-center"
  >
    <div class="col-6 center align-items-center justify-content-center">
      <img src="assets/icon/logo_128x128.png" style="display: block" />
    </div>
  </div>
  <div
    *ngIf="!is_login"
    class="row center align-items-center justify-content-center"
  >
    <div class="col-10">
      <form class="form-group" [formGroup]="formGroup">
        <h6 class="h6 mb-4" style="text-align: center">
          Selected Restaurant <br />
          Easy to book with special offer
        </h6>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-at"></i></span>
          </div>
          <input
            formControlName="EMAIL"
            type="email"
            id="EMAIL"
            class="form-control mt-0"
            placeholder="Email address"
            required=""
            autofocus=""
          />
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text mt-2"><i class="fa fa-key"></i></span>
          </div>
          <input
            formControlName="PASSWORD"
            type="password"
            id="PASSWORD"
            class="form-control mt-2"
            placeholder="Password"
            required=""
          />
        </div>

        <hr />

        <button
          class="btn btn-info btn-block form-control"
          type="button"
          (click)="onClickLogin()"
        >
          <i class="fa fa-sign-in"></i> &nbsp; Sign in
        </button>

        <a [routerLink]="'/master/tabs/1/home'" class="pull-right" id="forgot_pswd"
          >Not now ?</a
        >

        <hr />
        <hr />
        <!-- <p>Don't have an account!</p>  -->
        <button
          class="btn btn-primary btn-block"
          [routerLink]="['/register']"
          routerLinkActive="router-link-active"
          type="button"
          id="btn-signup"
        >
          <i class="fa fa-user-plus"></i> &nbsp; Sign up New Account
        </button>
        <!-- <hr> -->
        <button
          class="btn btn-success btn-block"
          [routerLink]="['/register-trader']"
          type="button"
          id="btn-signup"
        >
          <i class="fa fa-user-plus"></i> &nbsp; Sign up New Shop
        </button>
      </form>
    </div>
  </div>
</div>
