<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="1" *ngIf="ACCESS_ID === 0">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="2" *ngIf="ACCESS_ID === 0">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favorite</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="3" *ngIf="ACCESS_ID <= 1">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notification</ion-label>
      <ion-badge color="danger">0</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="4">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
