<ion-header>
  <ion-toolbar color="customColor">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">Profile Editor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="animated fadeIn">
    <p>
      profile-editor works!
    </p>
  </div>
</ion-content>
