<ion-header>
  <ion-toolbar color="customColor">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">Approve Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="animated fadeIn">
    <p *ngIf="!TEMP_SHOP">Not found data !</p>
    <ion-list>
      <ng-container *ngFor="let item of TEMP_SHOP">
        <ion-item>
          <ion-label>{{ item.TITLE }}</ion-label>
          <button
            class="btn btn-outline-primary"
            slot="end"
            (click)="onClick(item.ID)"
          >
            View
          </button>
        </ion-item>
      </ng-container>
    </ion-list>
  </div>
</ion-content>
