<ion-header>
  <ion-toolbar color="customColor">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">Register Shop</ion-title>
    <img slot="end" src="assets/icon/logo_32x32.png" />
  </ion-toolbar>
</ion-header>

<div class="animated fadeInUp mt-5">
  <div class="row center align-items-center justify-content-center">
    <div class="col-6 center align-items-center justify-content-center">
      <img src="assets/icon/logo_128x128.png" style="display: block" />
    </div>
  </div>
  <div class="row center align-items-center justify-content-center">
    <div class="col-10">
      <form class="form-group" [formGroup]="formGroup">
        <h6 class="h6 font-weight-bold mb-4" style="text-align: center">
          Shop Registration <br />
          <h6 class="font-weight-light">Easy to book with special offer</h6>
        </h6>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-at"></i></span>
          </div>
          <input
            formControlName="EMAIL"
            type="email"
            id="EMAIL"
            class="form-control block"
            placeholder="Email address"
            required=""
            autofocus=""
          />
        </div>

        <div class="input-group">
          <input
            formControlName="SHOP_NAME"
            type="text"
            id="SHOP_NAME"
            class="form-control mt-2 block"
            placeholder="Shop Name"
            required=""
          />
        </div>

        <div class="input-group">
          <input
            formControlName="PASSWORD"
            type="password"
            id="PASSWORD"
            class="form-control mt-2 block"
            placeholder="Password"
            required=""
          />
        </div>

        <div class="input-group">
          <input
            formControlName="RE_PASSWORD"
            type="password"
            id="RE_PASSWORD"
            class="form-control mt-2 block"
            placeholder="Repeat Password"
            required=""
          />
        </div>

        <hr />

        <button
          class="btn btn-info btn-block form-control"
          type="button"
          (click)="onClickRegister()"
        >
          <i class="fa fa-hand-pointer-o"></i> &nbsp; Confirm
        </button>

        <p class="font-weight-bold text-center mt-1">OR</p>

        <button
          class="btn btn-primary btn-block form-control mt-0"
          type="button"
        >
          <i class="fa fa-facebook"></i> &nbsp; Facebook Login
        </button>
      </form>
    </div>
  </div>
</div>
