<ion-header>
  <ion-toolbar color="customColor">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="animated fadeIn">
    <ion-card class="welcome-card">
      <section class="row no-gutter align-items-center">
        <div
          class="col-lg-12 text-center p-0 d-flex align-items-center justify-content-center align-content-center align-self-center center"
        >
          <img src="/assets/menu/food/France.png" alt="" />
          <img
            class="img-fluid img-thumbnail position-absolute my-auto"
            src="https://image.flaticon.com/icons/svg/149/149071.svg"
            alt=""
            style="height: 40%; width: 30%"
          />
        </div>
      </section>
    </ion-card>
    <ion-list *ngIf="ACCESS_ID >= 0">
      <ion-list-header>
        <ion-label>Info</ion-label>
      </ion-list-header>
      <ion-item (click)="onProfile()">
        <ion-icon slot="start" color="medium" name="contact"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-item>
      <ion-item *ngIf="ACCESS_ID === 0" (click)="onHistory()">
        <ion-icon slot="start" color="medium" name="card"></ion-icon>
        <ion-label>History</ion-label>
      </ion-item>
      <ion-item (click)="onQRScanner()">
        <ion-icon slot="start" color="medium" name="reverse-camera"></ion-icon>
        <ion-label>QR Code Reader</ion-label>
      </ion-item>
      <ion-item (click)="onLogout()">
        <ion-icon slot="start" color="medium" name="contact"></ion-icon>
        <ion-label>Log out</ion-label>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="ACCESS_ID === 1">
      <ion-list-header>
        <ion-label>Shop Manager</ion-label>
      </ion-list-header>
      <ion-item (click)="onEditShop()">
        <ion-icon slot="start" color="medium" name="create"></ion-icon>
        <ion-label>Edit Shop</ion-label>
      </ion-item>
      <ion-item (click)="onChatWithAdmin()">
        <ion-icon slot="start" color="medium" name="chatbubbles"></ion-icon>
        <ion-label>Chat with admin</ion-label>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="ACCESS_ID === 2">
      <ion-list-header>
        <ion-label>Admin Manager</ion-label>
      </ion-list-header>
      <ion-item (click)="onEditMaster()">
        <ion-icon slot="start" color="medium" name="create"></ion-icon>
        <ion-label>Edit Master Data</ion-label>
      </ion-item>
      <ion-item (click)="onEditNews()">
        <ion-icon slot="start" color="medium" name="create"></ion-icon>
        <ion-label>Edit News</ion-label>
      </ion-item>
      <ion-item (click)="onApproveShop()">
        <ion-icon slot="start" color="medium" name="create"></ion-icon>
        <ion-label>Approve Shop</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
