<ion-header>
  <ion-toolbar color="customColor">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    history-ordering works!
  </p>
</ion-content>
