/deep/ body {
  background-color: #fce582;
}

/deep/ ion-toolbar {
  --background-color: #fce582;
}

$colors: (
  primary: #387ef5,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  customColor: #fce582
);
